#netbeans
/nbproject/private/*
/build/*
/dist/*
/jarbuild/*

#vim
*~
*.swp

#ctags
tags

#flex
Lexer.java

#yacc
*.output
*.tab.c
Parser.java
ParserVal.java
yacc.*

#yacc 'n flex generics
/src/edu/borzhch/language/Parser.java
/src/edu/borzhch/language/Lexer.java
vendors/bcel-5.2/docs
make.bat
.gitignore
