#netbeans
/nbproject/private/*
/build/*
/dist/*
/jarbuild/*

#vim
*~
*.swp

#ctags
tags

#yacc
*.output
*.tab.c
yacc.*

#yacc 'n flex generics
/src/edu/borzhch/language/Parser.java
/src/edu/borzhch/language/Lexer.java
vendors/bcel-5.2/docs
make.bat
.gitignore

#build script
jarbuild/test.jar
jarbuild/Program.class
/vendors/jcommander/target/